In [1]:
import pandas as pd
import datetime as dt

## Warmup: Working With Datetimes

In [2]:
df = pd.read_csv('warmup_data.csv')
df.head()

  trip_date  searches
0    7/1/14       715
1    7/2/14       733
2    7/3/14       832
3    7/4/14      1211
4    7/5/14      1321

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365 entries, 0 to 364
Data columns (total 2 columns):
trip_date    365 non-null object
searches     365 non-null int64
dtypes: int64(1), object(1)
memory usage: 8.6+ KB

### Exercise 1:
- Convert the date column to datetime
- Bonus: do it in one line!

In [11]:
df.trip_date = df.trip_date.apply(lambda x: dt.datetime.sptime(x: %m/%d/%y))

SyntaxError: invalid syntax (<ipython-input-11-f4e41bb83dfe>, line 1)

In [8]:
#Your code here

df['trip_date'] =  pd.to_datetime(df['trip_date'], format='%d/%b%Y')

ValueError: time data '7/1/14' does not match format '%d%b%Y' (match)

### Exercise 2: 
- Find the total searches between 12/25/14 and 1/3/15

In [ ]:
#your code here


date_filter = pd.date_range

### Exercise 3: 
- Did Saturdays or Sundays have more total searches in January?

In [4]:
#your code here