In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('data/lab5warmupdata.txt', delimiter='\t')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41 entries, 0 to 40
Data columns (total 2 columns):
number1    41 non-null object
number2    41 non-null object
dtypes: object(2)
memory usage: 984.0+ bytes

In [13]:
df.head()

  number1  number2
0   0,589  '0,589'
1   0,578  '0,578'
2   7,779  '7,779'
3   0,139  '0,139'
4   1,687  '1,687'

####Exercise 1: Strip the extra comma from the number1 column and convert to integer

In [7]:
#Your code here

df.number1 = df.number1.apply(lambda x: x.replace(",","")).astype(int)
df.number1

0      589
1      578
2     7779
3      139
4     1687
5     3246
6      254
7     3133
8     9446
9     6241
10    4922
11    4657
12    5134
13    4947
14    5988
15    1376
16     291
17    1515
18    3126
19     853
20    2768
21    6738
22    8168
23     181
24    6760
25    2199
26    2207
27    5145
28    8247
29    7646
30     941
31    1886
32    4981
33    2140
34    6987
35     326
36    2867
37    4890
38    8625
39    4475
40     903
Name: number1, dtype: int32

In [ ]:
#Bonus: Do it a different way

def replace_comma(x):
    return x.replace(",","")

df.number1.apply(replace_comma)

In [4]:
df.number1.str.replace(",","").astype(int)

0      589
1      578
2     7779
3      139
4     1687
5     3246
6      254
7     3133
8     9446
9     6241
10    4922
11    4657
12    5134
13    4947
14    5988
15    1376
16     291
17    1515
18    3126
19     853
20    2768
21    6738
22    8168
23     181
24    6760
25    2199
26    2207
27    5145
28    8247
29    7646
30     941
31    1886
32    4981
33    2140
34    6987
35     326
36    2867
37    4890
38    8625
39    4475
40     903
Name: number1, dtype: int32

####Exercise 2: Strip the extra quotation marks from the column2 and convert to integer

In [9]:
#Your code here

df.number2.str[1:-1]

#[start at this character : end at this character]

0     0,589
1     0,578
2     7,779
3     0,139
4     1,687
5     3,246
6     0,254
7     3,133
8     9,446
9     6,241
10    4,922
11    4,657
12    5,134
13    4,947
14    5,988
15    1,376
16    0,291
17    1,515
18    3,126
19    0,853
20    2,768
21    6,738
22    8,168
23    0,181
24    6,760
25    2,199
26    2,207
27    5,145
28    8,247
29    7,646
30    0,941
31    1,886
32    4,981
33    2,140
34    6,987
35    0,326
36    2,867
37    4,890
38    8,625
39    4,475
40    0,903
Name: number2, dtype: object